@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

.content-left-side,
.content-right-side {
  display: none;

  @include desktop {
    display: block;
    width: 25%;
  }
}

.content-right-side {
  @include tablet {
    display: block;
  }
}

.side-content {
  background-color: white;
  padding: 0 3rem 2rem 3rem;
  border-radius: 10px;

  &__header {
    padding: 3rem 0rem 2rem;
  }
}

.quests {
  margin-top: 1.6rem;
}

.badges {
  margin-top: 1.6rem;
}

.select-content {
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-radius: 10px;

  &__all {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 3rem 0;
    border-bottom: 3px solid $primary-selected;
  }
}

.content-mid {
  margin: 0 0.6rem;
  width: 100%;
  @include tablet {
    margin: 0 1.6rem;
    width: 85%;
  }

  @include desktop {
    width: 50%;
    margin: 0 1.6rem;
  }
}


