@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.users {
  display: flex;
  align-items: center;

  margin: 2rem 0;

  &__container {
    margin-left: 1.6rem;
  }

  &__tag {
    font-weight: 500;
    margin-top: 0.5rem;
  }
}
