$max-width-tablet: 710px;
$max-width-desktop: 1180px;


$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Colors 

$primary-header: #5d5df5;
$primary-selected: #00d2e0;
$primary-background: #f8f8fb;
$primary-divider: #e7e8ee;
$primary-border: #dedee9;
$primary-button: #00d2e0;
$primary-text-dark: #3d3f5d;
$primary-verified-user: #00a1ee;
$primary-pro-user: #5d5df5;

$secondary-text-light: #ffffff;
$secondary-text-header: #706fe5;
$secondary-background: #ffffff;
$secondary-header: #4b4ac4;
$secondary-post-divider: #eaeaf4;

